/* CSS files add styling rules to your content */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em auto;
  max-width: 80%;

}

h1 {
  font-style: italic;
  color: #373fff;
}

hr {
  margin: 2em auto;

}

.p {
  font-size: 13px;
}

.googleimage{
text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
}

.nav ul {
   display: flex;
  justify-content: space-between;
  list-style: none;
}


.nav a {
  color: gray;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
}


.nav img{
  padding: 0px 0px 0px 20px;
  width: 36px;
}

.nav a:hover {
text-decoration:underline;
}

.nav a.active {
  color: gray;
}


.flower{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 1000px;
    margin: 15px auto 45px auto;
  }

  .text{
    width: 64%;
    margin: 4px 0px 10px 10px;
    font-size:15px;
    
  }

  .flower:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container{
    margin: 4px 0px 0px 4px;
    color: #646464 ;
  }



/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;
  padding: 30px;
  height: auto;
  word-wrap: break-word;
}

.row{
 display: flex;
}

.date{
  font-size:12px;
  padding: 0px 0px 10px 0px;
  text-align:left;
}

.pheader{
  font-size:15px;
  padding: 0px 0px 10px 0px;

}

.ptext{
  font-size:13px;
  width: 100%;
  padding: 0px 0px 10px 0px;
}

.divtextright{
  padding:10px;
}

